player-connection-mode=Listen
player-connection-guid=2643936778
player-connection-debug=0
player-connection-ip=192.168.0.103
player-connection-ip=192.168.241.1
player-connection-ip=25.14.66.253
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
scripting-runtime-version=latest
vr-enabled=0
hdr-display-enabled=0
